body{
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}
.login{
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    margin: auto;
    margin: top 50px;
}
h1{
    color:pink;
    text-align: center;
    padding: 30px ;
}
label{
    font-size: 14pt;
    margin: auto;
    margin-left: 140px;
    padding: 5px;
    display: block;
}

input{
    margin: 20px;
    padding: 7px;
    width: 200px;
    margin-left: 140px;
    border-radius: 5px;
    
}
button{
    margin-left: 140px;
    margin-top: 20px;
    display: block;
    width: 220px;
    background-color: pink;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border-color: pink;
    
}


